fastapi>=0.115.0
uvicorn[standard]>=0.30.6
python-multipart>=0.0.9
firebase-admin>=6.5.0
python-dotenv>=1.0.1
pydantic>=2.8.0
numpy
Pillow>=10.4.0
opencv-python-headless>=4.10.0
transformers>=4.44.0
sentencepiece>=0.2.0
accelerate>=0.33.0
pyspellchecker>=0.8.1

